# Database

DATABASE_URL=""

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=
GOOGLE_REDIRECT_URI=

# JWT
JWT_SECRET=""

ADMIN_LOGIN=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

#POSTGRES

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
